
body{
    background-color:rgb(90, 104, 165);
}

nav{
    background-color: darkviolet;
    color:white;
    align-items: center;    

}
nav a{
    color:white;
    text-decoration: none;
    margin-left: 35px;
    align-self: center;
}
nav a:hover{
    text-decoration: underline;
}

a{
text-decoration:none;
}

a:hover{
    text-decoration: underline;
}
a,h2,h3,p{
    color:rgb(113, 255, 100);
    font-family: Arial, Helvetica, sans-serif
}

p{
    margin:3px;
    font-size:13px;
}
h3{
    margin-bottom: 2px;
}

.form{
    font-size: 19px;    
}


.tabgrid{
    display:grid;
  /*  grid-template-columns: repeat(autofit, minmax(85px, 1fr))*/

    grid-template-columns: 30% 30% ; 
    grid-auto-rows:auto ; 

}
input[type="text"]{
    background-color:rgba(200,200,200,0.5);
    border-style :none;
    margin: 8px;
    border-radius: 4px;
    width:70px;
}

button{
    background-color:rgba(0,255,0,0.1);
    border-style:solid;
    border-color:rgba(0,0,0,0.2);
    margin: 8px;
    width:70px;
    height:30px;
    border-radius:4px;

}

.result{
    background-color:rgba(200,200,200,0.5);
    margin:10px;
    width:70px;
    height:25px;
    border-radius:4px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif

}

fieldset{
    border-color:rgba(255,255,255,0.3);
    border-style:solid;
    border-radius:8px;
}


.displayB{
    background-color:rgba(200,200,200,0.5);
    border-style :none;
    margin: 8px;
    border-radius: 4px;
    width:70px;
}